<div class="background" [ngStyle]="{'background-image': 'url(' + selectedCountryFlagUrl + ')'}"></div>

<div class="relative">
  <app-header [absolute]="false"></app-header>

  <div *ngIf="countries$ | async as countries" class="flex flex-row flex-wrap justify-content-between text-white align-items-baseline mb-5">
    <a
      *ngFor="let country of countries"
      class="country-btn p-5 border-2 m-3 border-round-md"
      (click)="openDetailsDialog(country)"
      (mouseover)="setBackgroundFlag(country.flagUrl)"
      (mouseout)="setBackgroundFlag(null)"
    >
        <h1 class="white-space-nowrap">{{ country.name }}</h1>
        <p class="p-2">( {{ country.officialName }} )</p>
        <span>{{ country.subregion }}</span>
        <span>{{ country.alt }}</span>
    </a> 
  </div>
  <app-footer></app-footer>
</div>
