<div class="relative bg-white p-6">
  <div class="flex flex-row">
    <img class="flag" src="assets/dangolawski.jpg">
    <div class="flex-1">
      <h1 class="text-center">Daniel Goławski</h1>
      <h2 class="text-center">( Angular Developer )</h2>
    </div>
  </div>
  <div class="pt-5">
    <p>Data urodzenia: <strong>03.10.1997</strong></p>
    <p>Główne technologie: <strong>JS, Angular, HTML, CSS</strong></p>
    <p>Dodatkowe technologie: <strong>Java, Python</strong></p>
    <p>Poprzednii pracodawca: <strong>Centrum e-Zdrowia</strong></p>
    <p>Zainteresowania: <strong>Frontend, Motoryzacja</strong></p>
  </div>
</div>